<!DOCTYPE html>
<html>
<head>  
	<title>EDIT MARKS</title>

	<link rel="stylesheet" href="navigation.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
		<a href="http://localhost/student/marks/add"  class ="btn-primary btn updatebtn" class="button">ADD STUDENT</a>
		<a href="http://localhost/student/marks/addsubject"  class ="btn-primary btn updatebtn" class="button">ADD SUBJECT</a>
		<a href="http://localhost/student/marks/list"  class ="btn-primary btn updatebtn" class="button">View List</a>
	</div>
	<br>
	<br>
	<h1 class ="text-warning" align="center">EDIT STUDENT DETAILS</h1>

	<form action="{{path('marks_addeditdb')}}" method="post" 
	align ="center" id ="form"/>
	Select Student:
	<select name="selectedstudent">
		{% for item in student %}
		<option value="{{item.id}}">
			{{ item.studentname }}
		</option>
		{% endfor %}
	</select>
	<br>
	<br>
	Select Subject: 
	<select name= "selectedsubject">
		{% for item in subject %}
		<option value="{{item.id}}">
			{{ item.subjectname }}
		</option>
		{% endfor %}
	</select>
	<br>  
	<br>
	Marks Obtained:<input type="text"   name="marks" >
	<br>  
	<br>
	<input type="submit" value = "submit"  Onclick="{{path('marks_addeditdb')}}"/>
</form>
</body>
</html